.rodapie__contacto {
    width: 60%;
}

.rodapie__contacto-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__titulo {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 0.8em;
}

.form__nombre-contenedor {
    background: #ffffff;
    border-bottom: solid 2px #C8C8C8;
    margin-bottom: 1rem;
    padding: 0.5em .75rem;
}

.form__nombre-etiqueta {
    color: #A2A2A2;
    font-size: .75rem;
    font-weight: 400;
    display: block;
}

.form__nombre-entrada {
    border: none;
    display: block;
    font-size: 1rem;
    margin-top: .25rem;
    width: 100%;
    padding-left: 0.2em;
}

.form__txtarea {
    resize: vertical;
    border: none;
    display: block;
    font-size: 1rem;
    padding: 0.5em .75rem;
    margin-bottom: 1em;
}

.form__btn {
    width: 140px;
    color: white;
    border: 1px solid white;
    background-color: #2a7ae4;
    text-align: center;
    line-height: 2.5em;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}