.productos {
    padding: 0 4em 1em 4em;
}

.productos-contenido{
    margin: 0 0 2em 0;
    background: #f5f5f5;
}

.productos-encabezado {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 1em 0 0.8em 0;
}

.productos__clasificacion {
    font-style: 'Raleway';
    font-size: 2em;
}

.productos__todos {
    display: flex;
    justify-content: center;
}

.productos__todos-ira {
    font-size: 1em;
    color: #2A7AE4;
    font-weight: 700;
}

.productos__todos-icon {
    background-image: url("../imagenes/iratodos.svg");
    width: 2em;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 0) {
    .recetas {
        padding: 5rem 0 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .recetas {
        padding: 5rem 0 0 2.5rem;
    }
}

@media screen and (min-width: 922px) {
    .recetas {
        padding: 5rem 0 0 5rem;
    }
}